@tailwind base;
@tailwind components;
@tailwind utilities;

.new-project-div{
    @apply h-[150px] w-[200px]
}
.add-project-button {
    @apply rounded h-[150px] w-[200px] bg-black bg-opacity-[0.2] hover:bg-indigo-600 hover:bg-opacity-[0.5] font-bold;
}

.new-project-div.open{
    @apply relative self-center transition-all w-[200px] h-[150px] bg-black bg-opacity-[0.2] backdrop-blur-xl rounded border border-white border-opacity-[0.5] ;
}

.new-project-div.open .add-project-button{
    display: none;
}
.new-project-div.open .new-project-input-div{
    display: flex;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51);
  }